### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [76]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from io import StringIO
import string
import os
import csv


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [77]:
purchase_data.count()
total_buyers=purchase_data["SN"].count()
unq_buyers=len(purchase_data["SN"].unique())
print(f"\nTotal Buys/Transactions are: {total_buyers}\nAnd Total Number of UNIQUE Buyers are: {unq_buyers}")

Total Buys/Transactions are: 780
And Total Number of UNIQUE Buyers are: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [78]:
pd.reset_option('float')
print("\nStats of Numerical Columns: \n")
#print(purchase_data.shift().describe())
pd.options.display.float_format = '{:,.2f}'.format
purchase_data_stats=purchase_data.describe()
print(purchase_data_stats)


unqItems=len(purchase_data["Item ID"].unique())
print("\n\n# of Unique Items: " , unqItems, "\n")
print(f"These {unqItems} Unique Items Are Listed Below: \n")
print(purchase_data["Item ID"].unique())


print("\n\n Here is Info About Buyers Gender:\n")
purchase_data_genders=purchase_data["Gender"].value_counts()
print(purchase_data_genders)


pd.options.display.float_format = '{:,.2f}'.format
purchase_data_stats['Price'] = purchase_data_stats['Price'].map('${:,.2f}'.format)
purchase_data_stats.drop(["Purchase ID", "Item ID"], inplace=True, axis=1)
purchase_data_stats.drop(["count"], inplace=True, axis=0)
print("\n\nVarious (Pertinent Only) Stats from Purchase Data:\n ")
print(purchase_data_stats)

Stats of Numerical Columns:

       Purchase ID    Age  Item ID  Price
count       780.00 780.00   780.00 780.00
mean        389.50  22.71    92.11   3.05
std         225.31   6.66    52.78   1.17
min           0.00   7.00     0.00   1.00
25%         194.75  20.00    48.00   1.98
50%         389.50  22.00    93.00   3.15
75%         584.25  25.00   139.00   4.08
max         779.00  45.00   183.00   4.99


# of Unique Items:  183

These 183 Unique Items Are Listed Below:

[108 143  92 100 131  81 169 162  21 136  95 116   4 165  98  40 161  82
  89  57 168  24 151 141 178  71  96 119  37 140 179 133  44 160  53  76
  73 172   7  72   9 181 102 170 138 110  22  15  60 176  25  84  80 152
 105 125  56  34   6  27  29  68 124  88  20  50 174  12  33 129  17  59
  39 164 134 101 109  10  54  99  85 139  41 150  13 117  78  87   1  62
  75  58  74 120 145   0   2 146 158   8 175  46 148 111   3  65 183  30
 157 123   5 144 103 135  51 154  32  77  11  63  69 113 153 114 149 159
 137 142  66  97 163 107  16  42  19  83  23  28  94 182  70  18 166 173
 167 155 128 156 147  35 171  52 106  38  91 118  67  45  49 121  79  14
  43  31  64  86  93  26 122  61  48 112 126 115  55 132 127  47 130  90
 177 104 180]


 Here is Info About Buyers Gender:

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64


Various (Pertinent Only) Stats from Purchase Data:

       Age  Price
mean 22.71  $3.05
std   6.66  $1.17
min   7.00  $1.00
25%  20.00  $1.98
50%  22.00  $3.15
75%  25.00  $4.08
max  45.00  $4.99

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [79]:
gender_classification=purchase_data_genders.index
token_max=gender_classification.str.len().max()
padding= " "
for xn in range(token_max):
    padding=padding+" "
print("\n\nGender Demographics:")
print("\n\n"+padding+" Count      % of Total")
for xn in range(len(purchase_data_genders)):
    this_gender=(gender_classification[xn]+padding)[0:token_max]+":"
    this_number=purchase_data_genders[xn]
    this_pctage=100*(this_number/total_buyers)
    print(f"\n"+this_gender+'{:{width}.{prec}f}'.format(this_number, width=6, prec=0)+'{:{width}.{prec}f}'.format(this_pctage, width=12, prec=1))

Gender Demographics:


                       Count      % of Total

Male                 :   652        83.6

Female               :   113        14.5

Other / Non-Disclosed:    15         1.9


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [87]:
desc_len=8
purch_by_gender=[]
stats_by_gender=[]

for xn in range(len(gender_classification)):
    this_gender=gender_classification[xn]
    gender_purch=purchase_data.loc[purchase_data.Gender == this_gender]
    gender_purch.drop(["SN", "Item Name", "Purchase ID", "Item ID"],axis=1, inplace=True)
    purch_by_gender.append(gender_purch)
    stats_by_gender.append(gender_purch.describe())

num_of_dfs=len(purch_by_gender)
stat_lns=[[0] * desc_len] * num_of_dfs 
sum_price_lns=[]

pp=len(padding)
print("\n\nBelow Are Purchasing & Age Analysis By Gender:\n")
hdgs=padding+'{:^12}{:^12}{:^12}{:^12}{:^12}'.format("Count","Total Price","Avg Price", "Min Price", "Max Price")
hdgs=hdgs+'{:^12}{:^12}{:^12}'.format("Avg Age", "Min Age", "Max Age")
print( hdgs)
for xn in range(num_of_dfs):
    stat_lns.append(stats_by_gender[xn].values.tolist())
    sum_price_lns.append(purch_by_gender[xn]["Price"].sum())
    #print(gender_classification[xn]+": ", sum_price_lns[xn])
    aln="{:<{width}}".format(gender_classification[xn], width=pp)
    aln=aln+"{:^12.0f}".format(purch_by_gender[xn].describe().iloc[0,0])
    aln=aln+"{:>9.2f}".format(sum_price_lns[xn])
    aln=aln+"{:>10.2f}".format(purch_by_gender[xn].describe().iloc[1,1])
    aln=aln+"{:>12.2f}".format(purch_by_gender[xn].describe().iloc[3,1])
    aln=aln+"{:>12.2f}".format(purch_by_gender[xn].describe().iloc[7,1])
    aln=aln+"{:>13.2f}".format(purch_by_gender[xn].describe().iloc[1,0])
    aln=aln+"{:>10.0f}".format(purch_by_gender[xn].describe().iloc[3,0])
    aln=aln+"{:>13.0f}".format(purch_by_gender[xn].describe().iloc[7,0])
    print(aln)

Below Are Purchasing & Age Analysis By Gender:

                         Count    Total Price  Avg Price   Min Price   Max Price    Avg Age     Min Age     Max Age
Male                      652       1967.64      3.02        1.00        4.99        22.92         7           45
Female                    113        361.94      3.20        1.00        4.90        21.35         7           40
Other / Non-Disclosed      15         50.19      3.35        1.33        4.75        24.20        15           38

C:\Users\rkho1\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [81]:
purchase_data["Age"].min()
purchase_data["Age"].max()
reduced_data=purchase_data.copy()
purchase_data.head(2)
reduced_data.head(2)
reduced_data.drop(["Purchase ID", "SN", "Item ID", "Item Name"], axis=1, inplace=True) 
reduced_data.head(2)
bin_vals = [0, 10, 20, 30, 40, 50, 60]
bin_names = ["Up to 10", "11 to 20", "21 to 30", "31 to 40", "41 to 50", "51 to 60"]
reduced_data["Age Bins"] = pd.cut(reduced_data["Age"], bin_vals, labels=bin_names)
purchase_data_by_age=reduced_data.groupby("Age Bins")
age_bin_counts=purchase_data_by_age["Price"].count()

# We know total_buyers
print("\n\nAge Demographics:    (Total Purches Are "+str(total_buyers)+")\n")
print("{:>20}{:>20}{:>20}".format("Age Group", "# of Purchases", "%age of Total\n"))
for xn in range(len(age_bin_counts)):
    this_count=age_bin_counts[xn]
    this_pctage=100*(this_count/total_buyers)
    print("{:>19}{:>16}{:>20.2f}".format(bin_names[xn],this_count, this_pctage))

Age Demographics:    (Total Purches Are 780)

           Age Group      # of Purchases      %age of Total

           Up to 10              32                4.10
           11 to 20             254               32.56
           21 to 30             402               51.54
           31 to 40              85               10.90
           41 to 50               7                0.90
           51 to 60               0                0.00

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [82]:
#Not Needed Columns have been deliberayely dropped previously in order for this display to be meaningfull
purchase_data_by_age.describe()

            Age                                           Price            \
          count  mean  std   min   25%   50%   75%   max  count mean  std
Age Bins
Up to 10  32.00  8.47 1.19  7.00  7.00  8.00 10.00 10.00  32.00 3.40 1.00
11 to 20 254.00 17.69 2.47 11.00 16.00 18.00 20.00 20.00 254.00 3.06 1.17
21 to 30 402.00 24.05 2.63 21.00 22.00 24.00 25.00 30.00 402.00 2.99 1.19
31 to 40  85.00 35.13 2.69 31.00 33.00 35.00 37.00 40.00  85.00 3.15 1.13
41 to 50   7.00 42.86 1.57 41.00 41.50 43.00 44.00 45.00   7.00 3.08 1.32
51 to 60   0.00   nan  nan   nan   nan   nan   nan   nan   0.00  nan  nan


          min  25%  50%  75%  max
Age Bins
Up to 10 1.29 2.77 3.50 4.20 4.93
11 to 20 1.00 2.04 3.15 4.19 4.94
21 to 30 1.00 1.79 3.10 4.02 4.99
31 to 40 1.02 2.18 3.27 4.07 4.91
41 to 50 1.61 1.83 3.39 3.96 4.93
51 to 60  nan  nan  nan  nan  nan

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [83]:
#purchase_data

In [84]:
spending_data=purchase_data.copy()
#print(spending_data)
# Now need to find top 5 so need sorting   
top5=spending_data.groupby("SN", as_index=True).sum().sort_values("Price", ascending=False).head(5)
print(top5)
print(top5.columns)
top5index=top5.index
print("\n\n5 Top Spenders Name & Amounts Are:\n")
for xn in range(len(top5)):
    print("{:<20}{:>15.2f}".format(top5index[xn], top5.iloc[xn, 3]))

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      451  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10
Index(['Purchase ID', 'Age', 'Item ID', 'Price'], dtype='object')


5 Top Spenders Name & Amounts Are:

Lisosia93                     18.96
Idastidru52                   15.45
Chamjask73                    13.83
Iral74                        13.62
Iskadarya95                   13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [85]:
#data_by_itemid=data.groupby(['Item Name','Item ID'])['Price'].agg(['mean', 'sum', 'count'])
#type(data_by_itemid)
#aaa=data_by_itemid.sort_values(by="count")
#print(aaa)

orig_data=purchase_data.copy()
data_items=orig_data.groupby(["Item Name","Item ID"])["Price"].agg(["mean", 'sum', 'count'])
sorted_by_count=data_items.sort_values(by='count', ascending=False)
print("\n\n Five (5) Highest Selling Items by Count:\n")
print(sorted_by_count.head())

sorted_by_pricesum=data_items.sort_values(by='sum', ascending=False)
print("\n\n\n Five (5) Highest Selling Items by Total Price:\n")
print(sorted_by_pricesum.head())

 Five (5) Highest Selling Items by Count:

                                                      mean   sum  count
Item Name                                    Item ID
Oathbreaker, Last Hope of the Breaking Storm 178      4.23 50.76     12
Extraction, Quickblade Of Trembling Hands    108      3.53 31.77      9
Nirvana                                      82       4.90 44.10      9
Fiery Glass Crusader                         145      4.58 41.22      9
Pursuit, Cudgel of Necromancy                19       1.02  8.16      8



 Five (5) Highest Selling Items by Total Price:

                                                      mean   sum  count
Item Name                                    Item ID
Oathbreaker, Last Hope of the Breaking Storm 178      4.23 50.76     12
Nirvana                                      82       4.90 44.10      9
Fiery Glass Crusader                         145      4.58 41.22      9
Final Critic                                 92       4.88 39.04      8
Singed Scalpel                               103      4.35 34.80      8

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [86]:
print("\n\n Please See Above\n")

 Please See Above